.knap {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 20vw;
    border: none;
}

.menu {
    position: fixed;
    display: inline-block;
    left: 0;
    top: 0;

}

.menu:hover .falde {
    display: block;
}

.menu:hover .knap {
    background-color: white;

}

.menu1 {
    position: fixed;
    display: inline-block;
    left: 20vw;
    top: 0;

}

.menu1:hover .falde {
    display: block;
}

.menu1:hover .knap {
    background-color: white;
    color: black
}


.menu2 {
    position: fixed;
    display: inline-block;
    left: 40vw;
    top: 0;


}

.menu2:hover .falde {
    display: block;
}

.menu2:hover .knap {
    background-color: white;
    color: black
}

.menu3 {
    position: fixed;
    display: inline-block;
    left: 60vw;
    top: 0;


}

.menu3:hover .falde {
    display: block;
}

.menu3:hover .knap {
    background-color: white;
    color: black
}

.menu4 {
    position: fixed;
    display: inline-block;
    left: 80vw;
    top: 0;


}

.menu4:hover .falde {
    display: block;
}

.menu4:hover .knap {
    background-color: white;
    color: black
}


.falde {
    display: none;
    position: absolute;
    background-color: gray;
    z-index: 1;
    max-width: 15vw;
}

.falde a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.falde a:hover {
    background-color: #ddd;
}
